{% extends 'pages/innovations/_base.html' %}
{% load static %}
{% block title %}Участок дезодорации растительных масел — Prodtehmas SRL{% endblock title %}
{% block description %}Участок дезодорации растительных масел: удаление ароматических веществ, свободных жирных кислот, альдегидов и чужеродных соединений. Состав комплекса оборудования для дезодорации.{% endblock description %}
{% block stage_title %}Участок дезодорации растительных масел{% endblock stage_title %}
{% block stage_body %}
  <div class="wp-caption aligncenter" style="width: 660px">
    <a href="{% static 'pages/img/innovations/uchastok-dezodoratsii.jpg' %}"
       data-gal="prettyPhoto"
       rel="prettyPhoto">
      <img src="{% static 'pages/img/innovations/uchastok-dezodoratsii.jpg' %}"
           alt="Участок дезодорации"
           width="650"
           height="366">
    </a>
    <p class="wp-caption-text">Участок дезодорации</p>
  </div>
  <p>Дезодорация растительного масла предназначена для удаления из растительных масел и жиров:</p>
  <ul>
    <li>ароматических и дезодорирующих веществ;</li>
    <li>остаточных свободных жирных кислот;</li>
    <li>альдегидов и кетонов, определяющих вкус и запах масла;</li>
    <li>нежелательных чужеродных соединений — полициклических ароматических углеводородов, пестицидов, токсичных продуктов — афлатоксинов.</li>
  </ul>
  <p>Процесс обеспечивается периодической технологической схемой, происходит в условиях глубокого вакуума при высокой температуре нагрева с барботированием масла водяным паром.</p>
  <p>Процесс дезодорации позволяет получить продукт высшей степени очистки с максимально пониженным содержанием вредных для человеческого организма веществ, что в значительной степени повышает качество масла, увеличивает срок хранения и реализации.</p>
  <p>Кроме традиционного применения, дезодорированное масло является основным сырьём для производства майонеза, маргарина, овощных, мясных и рыбных консервов и широко используется в молочной промышленности. Также только дезодорированное масло применяется для приготовления детского питания.</p>
  <p><strong>Комплекс дезодорации состоит из следующего оборудования для дезодорации растительных масел:</strong></p>
  <ul>
    <li>Дезодоратора</li>
    <li>Рекуператора</li>
    <li>Деаэратора</li>
    <li>Агрегата фильтрационного</li>
    <li>Теплообменников</li>
    <li>Каплеуловителей</li>
    <li>Низкотемпературной установки охлаждения жидкости (хладомашины)</li>
    <li>Парогенератора</li>
    <li>Пароперегревателя</li>
    <li>Центробежных насосов</li>
    <li>Вакуумных насосов</li>
    <li>Консольных насосов</li>
    <li>Градирни</li>
    <li>Шкафов управления</li>
    <li>Пускорегулирующей, запорной и предохранительной арматуры</li>
    <li>Азотной станции</li>
    <li>Контрольно-измерительных приборов и автоматики</li>
  </ul>
{% endblock stage_body %}
