{% extends 'pages/innovations/_base.html' %}
{% load static %}
{% block title %}Участок очистки и сушки семян — Prodtehmas SRL{% endblock title %}
{% block description %}Участок очистки и сушки семян: предварительная подготовка семян к переработке — очистка на зерновом сепараторе и сушка чистым горячим воздухом.{% endblock description %}
{% block stage_title %}Участок очистки и сушки семян{% endblock stage_title %}
{% block stage_body %}
  <div class="wp-caption aligncenter" style="width: 510px">
    <a href="{% static 'pages/img/innovations/uchastok-prod.jpg' %}"
       data-gal="prettyPhoto"
       rel="prettyPhoto">
      <img src="{% static 'pages/img/innovations/uchastok-prod.jpg' %}"
           alt="Участок очистки и сушки семян"
           width="500"
           height="500">
    </a>
    <p class="wp-caption-text">Участок очистки и сушки семян</p>
  </div>
  <p>Данный участок предназначен для предварительной подготовки семян к переработке.</p>
  <ul>
    <li><strong>Очистку</strong> — семена подаются на зерновой сепаратор, где происходит очистка зерна от крупных, мелких и лёгких примесей.</li>
    <li><strong>Сушку</strong> — семена с влажностью до 40% просушиваются в сушильной установке до технологически необходимой влажности согласно действующим стандартам (если влажность подсолнечника выше 9%, ухудшается процесс шелушения и процесс прессования).</li>
  </ul>
  <p>Процесс сушки осуществляется чистым горячим воздухом, который нагревается в комплексе утилизации отходов.</p>
  <p>Лузга, полученная при обрушении, подаётся на автоматический комплекс (печь) и сгорает, нагревая при этом воздух. Воздух, проходя по специальному рекуператору на сушильную установку, подаётся уже чистый и горячий — он просушивает семена, а угарные газы уходят в дымовую трубу.</p>
  <p>Данная технология сушки позволяет эксплуатировать сушильную установку в производственных помещениях.</p>
  <p>Более полную информацию вы можете найти на странице сайта в разделе <strong><a href="#">«Каталог»</a></strong>.</p>
{% endblock stage_body %}
