{% extends 'pages/innovations/_base.html' %}
{% load static %}
{% block title %}Участок фильтрации — Prodtehmas SRL{% endblock title %}
{% block description %}Участок фильтрации: комплект оборудования для предварительной и окончательной очистки растительных масел от механических примесей.{% endblock description %}
{% block stage_title %}Участок фильтрации{% endblock stage_title %}
{% block stage_body %}
  <div class="wp-caption aligncenter" style="width: 510px">
    <a href="{% static 'pages/img/innovations/uchastok-prod.jpg' %}"
       data-gal="prettyPhoto"
       rel="prettyPhoto">
      <img src="{% static 'pages/img/innovations/uchastok-prod.jpg' %}"
           alt="Участок фильтрации"
           width="500"
           height="500">
    </a>
    <p class="wp-caption-text">Участок фильтрации</p>
  </div>
  <p>Участок фильтрации — это комплект оборудования, которое используется в процессе очистки растительных масел. Этот процесс включает предварительную и окончательную очистку масел от механических примесей. Механические примеси — это остатки растительных частиц, пыль и другие загрязнения.</p>
  <p>Предварительная очистка, возложенная на участок фильтрации, происходит на первичных фильтрах, которые удаляют крупные частицы и мелкие примеси. Это позволяет защитить более тонкие фильтры, которые используются на более поздних этапах очистки.</p>
  <p>Далее масло проходит через фильтры более высокой степени очистки, которые удаляют более мелкие примеси. В итоге это особенно важно для производства высококачественных растительных масел, которые могут использоваться в пищевой промышленности.</p>
  <p>Участок фильтрации также имеет систему автоматической очистки, которая позволяет сохранять эффективность фильтров в течение длительного времени. Это означает, что процесс очистки масел может продолжаться без перерыва и с минимальной потерей качества.</p>
  <p>В целом участок фильтрации является неотъемлемой частью процесса производства растительных масел. Он позволяет получать продукты высокого качества, которые отвечают стандартам пищевой безопасности. Без использования этого оборудования очистка масел была бы трудоёмкой и неэффективной, что может привести к низкому качеству продукции.</p>
  <p><strong>Включает в себя:</strong></p>
  <ul>
    <li><strong>Линия первичной очистки масла</strong> (на базе вертикально-напорного фильтра) — используется для предварительной фильтрации масла. Масло очищается от взвешенных частиц, фузов и слизи.</li>
    <li><strong>Комплекс вакуумной фильтрации М8-КФМ</strong> — используется для окончательной фильтрации масла, удаления восков и полировки масла.</li>
  </ul>
  <p>По вопросам технических характеристик, принципов работы и состава оборудования можно ознакомиться на странице сайта в разделе <strong><a href="#">«Каталог»</a></strong>.</p>
{% endblock stage_body %}
